*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  margin: 0%;
  background-color: #1c1b1b;
}
.header{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

}
.logo{
display: flex;
}
#logo{
  width: 8%;
  margin-top: 3%;
  margin-left: 2%;

}
.logo-title{
  margin-top: 4%;
  margin-left: 1%;
  letter-spacing: 4px;
}
.logo-title h1{
  font-size: 45px;
  /* color: rgb(220, 215, 66); */
  color: #daa41b;
  letter-spacing: 4px;

}
.logo-title p{
  color: #daa41b;
  font-size: 15px;

}

.search-box{
   /* padding: 7px; */
   width: 32%;
   height: 6vh;
   display: flex;
   align-items: center;
   border: 1px solid #daa41b;
   padding: 0 15px;
   margin-top: 3%;
    /* justify-content: left; */
}
.search-box input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 0.9rem;
}
.search-box svg{
  color: #c89b52;
  font-size: 1rem;
}
.header-icons{
  display: flex;
  gap: 25px;
}
.header-icons div{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.85rem;

}
.header-icons svg{
  color: #d6ad69;
  font-size: 1.3rem;
}