*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  margin: 0%;
  background-color: #1c1b1b;
}
.header{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

}
.logo{
display: flex;
}
#logo{
  width: 8%;
  margin-top: 3%;
  margin-left: 2%;

}
.logo-title{
  margin-top: 4%;
  margin-left: 1%;
  letter-spacing: 4px;
}
.logo-title h1{
  font-size: 45px;
  /* color: rgb(220, 215, 66); */
  color: #daa41b;
  letter-spacing: 4px;

}
.logo-title p{
  color: #daa41b;
  font-size: 15px;

}

/* .search-box{
   padding: 7px;
   width: 50%;
   align-items: left;
    justify-content: left;
} */